{%- comment -%}
    Renders IG posts with link to the instagram
{%- endcomment -%}
<link rel='stylesheet' href='{{ 'ig-image-1.png' | asset_url }}'>

<div class='instagram-snipper  px-[16px] md:px-[80px] {{ class }}'>
    <div class='flex justify-between mb-[24px]'>
        <p class='text-text-primary font-bold text-[20px]'>Follow us on Instagram</p>
        <a
            href='https://www.instagram.com/biodegradablegolfballs/'
            target='_blank'
            class='flex items-center justify-center text-text-primary-active text-[14px] font-bold gpa-[8px]'
        >
            Follow {% render 'icon-arrow-right' %}
        </a>
    </div>
    <div class='grid grid-cols-2 md:grid-cols-4 gap-[8px]'>
        <a href='https://www.instagram.com/biodegradablegolfballs/' target='_blank'>
            <img src='{{ 'ig-image-1.png' | asset_url }}' alt='Ig image 1' width='100%' height='100%'>
        </a>
        <a href='https://www.instagram.com/biodegradablegolfballs/' target='_blank'>
            <img src='{{ 'ig-image-2.png' | asset_url }}' alt='Ig image 1' width='100%' height='100%'>
        </a>
        <a href='https://www.instagram.com/biodegradablegolfballs/' target='_blank'>
            <img src='{{ 'ig-image-3.png' | asset_url }}' alt='Ig image 1' width='100%' height='100%'>
        </a>
        <a href='https://www.instagram.com/biodegradablegolfballs/' target='_blank'>
            <img src='{{ 'ig-image-4.png' | asset_url }}' alt='Ig image 1' width='100%' height='100%'>
        </a>
    </div>
</div>
