{% schema %}
  {
    "name": "Customer Reviews",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Customer feedback"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top margin",
        "default": 0
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom margin",
        "default": 0
      }, {
        "type": "select",
        "id": "columns",
        "label": "Columns on desktop",
        "options": [
          {
            "value": "2",
            "label": "2 columns"
          }, {
            "value": "3",
            "label": "3 columns"
          }
        ],
        "default": "3"
      },
      {
            "type": "header",
            "content": "t:sections.multicolumn.settings.header_mobile.content"
        },
        {
            "type": "select",
            "id": "columns_mobile",
            "options": [
                {
                    "value": "1",
                    "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
                },
                {
                    "value": "2",
                    "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
                }
            ],
            "default": "1",
            "label": "t:sections.multicolumn.settings.columns_mobile.label"
        },
        {
            "type": "checkbox",
            "id": "swipe_on_mobile",
            "default": false,
            "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
        }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Review Title",
            "default": "Great product!"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Review Content",
            "default": "This product exceeded my expectations. Highly recommended!"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author Name",
            "default": "John Doe"
          },
          {
            "type": "text",
            "id": "location",
            "label": "Author Location",
            "default": "New York, USA"
          }, {
            "type": "range",
            "id": "rating",
            "min": 1,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "default": 5
          }, {
            "type": "image_picker",
            "id": "author_image",
            "label": "Author Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer Reviews",
        "blocks": [
          {
            "type": "review"
          }, {
            "type": "review"
          }, {
            "type": "review"
          }
        ]
      }
    ]
  }
{% endschema %}

<div class='px-[16px] md:px-[80px] {{ section.settings.class }}' style='margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;'>
  <p class='mb-[32px] text-[24px] font-bold text-text-primary'>{{ section.settings.title }}</p>
  <div class='multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}'>
    {% for block in section.blocks %}
      {% if block.type == 'review' %}
        <div class='multicolumn-list__item grid__item bg-surface-secondary-active rounded-[16px] p-[32px] flex flex-col gap-[16px]' style='padding-bottom:32px;'>
          <p class='text-text-primary text-[20px] font-bold'>{{ block.settings.title }}</p>
          <p class='font-medium text-[16px] text-text-primary'>
            {{ block.settings.content }}
          </p>

          <div class='flex flex-col gap-[4px]'>
            {% if block.settings.author_image %}
              <img
                src="{{ block.settings.author_image | img_url: '100x100', crop: 'center' }}"
                alt="{{ block.settings.author }}"
                class="w-[50px] h-[50px] rounded-full mb-[8px]">
            {% endif %}
            <p class='text-[12px] font-bold text-text-primary'>{{ block.settings.author }}</p>
            <p class='text-text-secondary text-[12px] font-medium'>{{ block.settings.location }}</p>
            <div class='flex flex-row gap-[4px]'>
              {% for i in (1..block.settings.rating) %}
                {% render 'icon-star' %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>