{% schema %}
  {
    "name": "Custom Printing",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Personalize Biodegradable Golf Balls"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Print your custom logo or saying on biodegradable golf balls! All custom golf balls are in-house which give us the flexibility to have extremely fast turn-around times and monitor the quality of print. For more information watch the video we created!"
      },
      {
        "type": "text",
        "id": "customize_title",
        "label": "Customize Printing Title",
        "default": "Customize printing"
      },
      {
        "type": "text",
        "id": "upload_button_text",
        "label": "Upload Button Text",
        "default": "Upload your image"
      }, {
        "type": "text",
        "id": "upload_description",
        "label": "Upload Description",
        "default": "Upload an image in JPG or PNG format. 5 MB maximum file size."
      }, {
        "type": "image_picker",
        "id": "preview_image",
        "label": "Preview Image"
      }, {
        "type": "text",
        "id": "preview_title",
        "label": "Preview Title",
        "default": "Image preview"
      }, {
        "type": "text",
        "id": "amount_title",
        "label": "Amount Title",
        "default": "Choose amount"
      }, {
        "type": "text",
        "id": "custom_amount_text",
        "label": "Custom Amount Text",
        "default": "Custom amount please email us at"
      }, {
        "type": "text",
        "id": "custom_amount_email",
        "label": "Custom Amount Email",
        "default": "hello@biodegradablegolfballs.com"
      }, {
        "type": "text",
        "id": "packaging_title",
        "label": "Packaging Title",
        "default": "Select packaging type"
      }, {
        "type": "image_picker",
        "id": "package_image_1",
        "label": "3-ball Package Image"
      }, {
        "type": "text",
        "id": "package_text_1",
        "label": "3-ball Package Text",
        "default": "3 ball sleeve"
      }, {
        "type": "image_picker",
        "id": "package_image_2",
        "label": "24-ball Package Image"
      }, {
        "type": "text",
        "id": "package_text_2",
        "label": "24-ball Package Text",
        "default": "24 balls package"
      }, {
        "type": "image_picker",
        "id": "package_image_3",
        "label": "96-ball Package Image"
      }, {
        "type": "text",
        "id": "package_text_3",
        "label": "96-ball Package Text",
        "default": "96 balls package"
      }, {
        "type": "image_picker",
        "id": "package_image_4",
        "label": "No Package Image"
      }, {
        "type": "text",
        "id": "package_text_4",
        "label": "No Package Text",
        "default": "No branding"
      }, {
        "type": "text",
        "id": "price_title",
        "label": "Price Title",
        "default": "Price"
      }, {
        "type": "text",
        "id": "add_to_cart_text",
        "label": "Add to Cart Button Text",
        "default": "Add to cart"
      }, {
        "type": "range",
        "id": "margin_top",
        "label": "Top Margin",
        "min": 0,
        "max": 128,
        "step": 8,
        "default": 16,
        "unit": "px"
      }, {
        "type": "range",
        "id": "margin_top_mobile",
        "label": "Top Margin (Mobile)",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 16,
        "unit": "px"
      }, {
        "type": "range",
        "id": "margin_bottom",
        "label": "Bottom Margin",
        "min": 0,
        "max": 128,
        "step": 8,
        "default": 64,
        "unit": "px"
      }, {
        "type": "range",
        "id": "margin_bottom_mobile",
        "label": "Bottom Margin (Mobile)",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 64,
        "unit": "px"
      }
    ],
    "presets": [
      {
        "name": "Custom Printing",
        "category": "Custom"
      }
    ]
  }
{% endschema %}

<div class='px-[16px] md:px-[80px] mt-[{{ section.settings.margin_top_mobile }}px] md:mt-[{{ section.settings.margin_top }}px] md:mb-[{{ section.settings.margin_bottom }}px] mb-[{{ section.settings.margin_bottom_mobile }}px]'>
  <input
    type='file'
    id='input-image'
    style='display: none;'
    accept='image/*'>

  <div class='grid grid-cols-1 lg:grid-cols-2 gap-[64px]'>
    <div class='flex flex-col gap-[24px]'>
      <p class='text-text-primary font-bold text-[32px]'>{{ section.settings.title }}</p>

      <div class='grid grid-cols-2 md:grid-cols-4'>
        <div class='bg-surface-background rounded-[16px] px-[24px] py-[16px] flex items-center justify-center gap-[8px] flex-col'>
          {% render 'icon-present' %}
          <p class='text-text-primary text-[14px] font-bold text-center'>Great as a gift</p>
        </div>
        <div class='bg-surface-background rounded-[16px] px-[24px] py-[16px] flex items-center justify-center gap-[8px] flex-col'>
          {% render 'icon-palette' %}
          <p class='text-text-primary text-[14px] font-bold text-center'>Multi-color printing</p>
        </div>
        <div class='bg-surface-background rounded-[16px] px-[24px] py-[16px] flex items-center justify-center gap-[8px] flex-col'>
          {% render 'icon-truck' %}
          <p class='text-text-primary text-[14px] font-bold text-center'>2-3 days delivery</p>
        </div>
        <div class='bg-surface-background rounded-[16px] px-[24px] py-[16px] flex items-center justify-center gap-[8px] flex-col'>
          {% render 'icon-discount-small' %}
          <p class='text-text-primary text-[14px] font-bold text-center'>Quantity discount</p>
        </div>
      </div>

      <p class='text-[18px] font-medium text-text-primary'>
        {{ section.settings.description }}
      </p>

      {% comment %} FILES {% endcomment %}
      <div class='flex flex-col gap-[48px]'>
        <div class='gap-[24px] flex flex-col'>
          <p class='font-bold text-[24px] text-text-primary'>{{ section.settings.customize_title }}</p>

          <div class='flex flex-col gap-[12px] items-start justify-start' id='image-upload-block'>
            <button class='text-text-primary-active text-[16px] font-bold px-[24px] py-[12px] bg-surface-secondary-active rounded-[16px]' id='upload-image'>
              {{ section.settings.upload_button_text }}
            </button>
            <p class='text-text-primary font-medium text-[14px]'>
              {{ section.settings.upload_description }}
            </p>
          </div>

          <div
            class='flex flex-row items-center bg-surface-background rounded-[16px] p-[16px] gap-[16px]'
            style='display: none;'
            id='image-info-box'>
            <img
              id='display-image'
              src=''
              alt='Uploaded Image'
              width='48px'
              height='48px'
              class='rounded-[8px]'
              style='display: none; '>

            <p class='flex flex-1 text-text-primary font-medium text-[14px]' id='filename'>filename</p>
            <span class='cursor-pointer' id='remove-image'>{% render 'icon-trash' %}</span>
          </div>
        </div>
        {% comment %} IMAGE PREVIEW MOBILE {% endcomment %}
        <div class='flex lg:hidden bg-surface-background relative items-center justify-center rounded-[16px] max-h-[500px] mt-[32px] md:mt-0 p-[20px]'>
          <p class='absolute top-[10px] left-[10px] md:top-[30px] md:left-[32px] font-bold text-[20px] text-text-primary'>
            {{ section.settings.preview_title }}
          </p>

          <img
            src='{{ section.settings.preview_image | img_url: 'master' }}'
            alt='Golf ball'
            class='max-h-[340px] max-w-[340px] rounded-[16px]'
            width='100%'
            height='100%'>

          <p class='absolute left-[40px] font-medium text-[18px] text-text-primary'>.75"</p>
          <p class='absolute top-[40px] font-medium text-[18px] text-text-primary'>.75"</p>

          <div class='absolute size-[200px]  rounded-lg  '>
            <img
              src='{{ 'border-view.png' | asset_url }}'
              alt='Golf ball'
              class='rounded-lg'
              width='100%'
              height='100%'>
          </div>
          <div class='absolute size-[197px] rounded-lg'>
            <div class='relative'>
              <img
                src=''
                alt='Golf ball custom image'
                class='rounded-lg object-cover max-h-[197px] max-w-[197px]'
                width='100%'
                height='100%'
                id='ball-view-custom-image-mobile'
                style='display: none'>
            </div>
          </div>
        </div>

        {% comment %} AMOUNT SLIDER {% endcomment %}
        <div class='flex flex-col'>
          <p class='text-text-primary font-bold text-[24px]'>{{ section.settings.amount_title }}</p>

          <div class='flex flex-row gap-[16px] mt-[20px] h-[48px] items-center'>
            <div class='flex h-full items-center justify-center'>
              <p class='text-[14px] font-medium text-text-secondary'>12</p>
            </div>
            <div class='relative flex-1'>
                <!-- Range input to control the slider -->
              <input
                type='range'
                min='0'
                max='6'
                value='0'
                class='absolute z-[3] w-full h-[20px] opacity-0 cursor-pointer'
                id='amount-slider'
                oninput='updateSliderValue(this.value)'>
              <!-- Sliding indicator -->
              <div
                id='slider-indicator'
                class='absolute z-[2] bg-surface-primary-active rounded-full size-[48px] flex items-center justify-center top-[-13px]'
                style='left: calc((10 - 3) / (1008 - 3) * 100%);'>
                <span id='slider-value' class='font-bold text-[14px] text-center text-text-secondary-active'>12</span>
              </div>
              <!-- Slider bar with notches -->
              <div class='bg-surface-secondary-active rounded-[12px] flex justify-between items-center flex-1 px-[8px] h-[24px]'>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
                <span class='bg-brand-secondary size-[8px] rounded-full'></span>
              </div>
            </div>
            <div class='flex h-full items-center justify-center'>
              <p class='text-[14px] font-medium text-text-secondary'>1008</p>
            </div>
          </div>

          <div class='flex flex-col gap-[8px] mt-[10px]'>
            <p class='text-text-primary text-[14px] font-medium'>
              {{ section.settings.custom_amount_text }}
              <a href='mailto:{{ section.settings.custom_amount_email }}' class='text-brand-secondary font-bold'>
                {{- section.settings.custom_amount_email -}}
              </a>
            </p>
          </div>
          <div class='mt-[48px]'>
            <p class='text-text-primary text-[24px] font-bold'>{{ section.settings.packaging_title }}</p>

            <div class='grid grid-cols-2 md:grid-cols-4 gap-[16px] mt-[28px]'>
              <div class='flex flex-col items-center justify-center gap-[8px]'>
                <img
                  src='{{ section.settings.package_image_1 | img_url: 'master' }}'
                  width='100%'
                  height='100%'
                  alt='3-ball-package'
                  class='rounded-[16px]'
                  id='active-box-0'
                  onClick='handleActiveBoxChange(0)'>
                <p class='text-text-primary font-medium text-[14px]' id='active-box-0-text'>
                  {{ section.settings.package_text_1 }}
                </p>
              </div>
              <div class='flex flex-col items-center justify-center gap-[8px]'>
                <img
                  src='{{ section.settings.package_image_2 | img_url: 'master' }}'
                  width='100%'
                  height='100%'
                  alt='24-ball-package'
                  class='rounded-[16px]'
                  id='active-box-1'
                  onClick='handleActiveBoxChange(1)'>
                <p class='text-text-primary font-medium text-[14px]' id='active-box-1-text'>
                  {{ section.settings.package_text_2 }}
                </p>
              </div>
              <div class='flex flex-col items-center justify-center gap-[8px]'>
                <img
                  src='{{ section.settings.package_image_3 | img_url: 'master' }}'
                  width='100%'
                  height='100%'
                  alt='96-ball-package'
                  class='rounded-[16px]'
                  id='active-box-2'
                  onClick='handleActiveBoxChange(2)'>
                <p class='text-text-primary font-medium text-[14px]' id='active-box-2-text'>
                  {{ section.settings.package_text_3 }}
                </p>
              </div>
              <div class='flex flex-col items-center justify-center gap-[8px]'>
                <img
                  src='{{ section.settings.package_image_4 | img_url: 'master' }}'
                  width='100%'
                  height='100%'
                  alt='no-branding'
                  class='rounded-[16px]'
                  id='active-box-3'
                  onClick='handleActiveBoxChange(3)'>
                <p class='text-text-primary text-[14px] font-medium' id='active-box-3-text'>
                  {{ section.settings.package_text_4 }}
                </p>
              </div>
            </div>
          </div>

          {% comment %} PRICE {% endcomment %}
          <div class='flex flex-col gap-[24px] mt-[48px]'>
            <p class='text-text-primary font-bold text-[24px]'>{{ section.settings.price_title }}</p>

            <div class='p-[32px] rounded-[16px] bg-surface-background flex flex-col gap-[8px]'>
              <div class='flex flex-row w-full justify-between items-center'>
                <p class='text-text-primary text-[16px] font-medium' id='receipt-balls'>12 balls</p>
                <p class='text-text-primary text-[16px] font-medium' id='receipt-balls-price'>
                  {% if cart.currency.iso_code == 'CAD' %}
                    CAD ${{ 30 | times: 1.44 | round: 2 }}
                  {% else %}
                    $30.00
                  {% endif %}
                </p>
              </div>
              <!--
                <div class='flex flex-row w-full justify-between items-center'>  <p class='text-text-primary text-[16px] font-medium'>Print setup on all orders</p>      <p class='text-text-primary text-[16px] font-medium'>$75</p>    </div>
              -->
              <div class='flex flex-row w-full justify-between items-center'>
                <p class='text-text-primary text-[20px] font-bold' id='receipt-total'>
                  Total with print
                </p>
                <p class='text-text-primary text-[20px] font-bold' id='receipt-total-price'>
                  {% if cart.currency.iso_code == 'CAD' %}
                    CAD ${{ 82.50 | times: 1.44 | round: 2 }}
                  {% else %}
                    $82.50
                  {% endif %}
                </p>
              </div>

              <button class='mt-[16px] font-bold text-text-secondary-active text-[16px] rounded-[8px] px-[24px] py-[12px] bg-surface-primary-active w-fit flex items-center gap-2' onClick='addCustomProductToCart()' id="add-to-cart-button">
                <span>{{ section.settings.add_to_cart_text }}</span>
                <svg class="animate-spin h-5 w-5 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" id="add-to-cart-spinner">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %} IMAGE PREVIEW PC {% endcomment %}
    <div class='hidden lg:!flex bg-surface-background relative items-center justify-center rounded-[16px] max-h-[500px] mt-[32px] md:mt-0 p-[20px]'>
      <p class='absolute top-[10px] left-[10px] md:top-[30px] md:left-[32px] font-bold text-[20px] text-text-primary'>
        {{ section.settings.preview_title }}
      </p>

      <img
        src='{{ section.settings.preview_image | img_url: 'master' }}'
        alt='Golf ball'
        class='max-h-[340px] max-w-[340px] rounded-[16px]'
        width='100%'
        height='100%'>

      <p class='absolute left-[125px] font-medium text-[18px] text-text-primary'>.75"</p>
      <p class='absolute top-[120px] font-medium text-[18px] text-text-primary'>.75"</p>

      <div class='absolute size-[200px]  rounded-lg  '>
        <img
          src='{{ 'border-view.png' | asset_url }}'
          alt='Golf ball'
          class='rounded-lg'
          width='100%'
          height='100%'>
      </div>
      <div class='absolute size-[197px] rounded-lg'>
        <div class='relative'>
          <img
            src=''
            alt='Golf ball custom image'
            class='rounded-lg object-cover max-h-[197px] max-w-[197px]'
            width='100%'
            height='100%'
            id='ball-view-custom-image-pc'
            style='display: none'>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    let activeBox = null;
    const USD_TO_CAD_RATE = 1.44;

    const handleActiveBoxChange = (index) => {
        const packages = ['3-ball-package', '24-ball-package', '96-ball-package', 'no-package'];
        activeBox = packages[index];
        const boxes = [
            document.getElementById('active-box-0'),
            document.getElementById('active-box-1'),
            document.getElementById('active-box-2'),
            document.getElementById('active-box-3'),
        ];

        const texts = [
            document.getElementById('active-box-0-text'),
            document.getElementById('active-box-1-text'),
            document.getElementById('active-box-2-text'),
            document.getElementById('active-box-3-text'),
        ];

        texts.forEach((text, i) => {
            if (i === index) {
                text.style.fontWeight = 700;
            } else {
                text.style.fontWeight = 500;
            }
        });

        boxes.forEach((box, i) => {
            if (i === index) {
                box.style.border = '2px solid #B2D680';
            } else {
                box.style.border = 'none';
            }
        });
    };

    const elements = {
        uploadImage: document.getElementById('upload-image'),
        inputImage: document.getElementById('input-image'),
        displayImage: document.getElementById('display-image'),
        removeImage: document.getElementById('remove-image'),
        imageInfoBox: document.getElementById('image-info-box'),
        ballImageSrcPc: document.getElementById('ball-view-custom-image-pc'),
        ballImageSrcMobile: document.getElementById('ball-view-custom-image-mobile'),
        imageUploadBlock: document.getElementById('image-upload-block'),
        fileName: document.getElementById('filename'),
    };

    elements.uploadImage.addEventListener('click', () => {
        elements.inputImage.click();
    });

    elements.removeImage.addEventListener('click', () => {
        elements.displayImage.src = '';
        elements.displayImage.style.display = 'none';
        elements.imageInfoBox.style.display = 'none';
        elements.ballImageSrcPc.style.display = 'none';
        elements.ballImageSrcMobile.style.display = 'none';
        elements.inputImage.value = '';
        elements.ballImageSrcPc.src = '';
        elements.ballImageSrcMobile.src = '';
        elements.imageUploadBlock.style.display = 'flex';
    });

    elements.inputImage.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                console.log(file.name);
                elements.displayImage.src = e.target.result;
                elements.displayImage.style.display = 'block';
                elements.imageInfoBox.style.display = 'flex';
                elements.ballImageSrcMobile.src = e.target.result;
                elements.ballImageSrcPc.src = e.target.result;
                elements.ballImageSrcPc.style.display = 'block';
                elements.ballImageSrcMobile.style.display = 'block';
                elements.imageUploadBlock.style.display = 'none';
                elements.fileName.innerText = file.name;
            };
            reader.readAsDataURL(file);
        }
    });

    function updateSliderValue(value) {
        const values = [12, 24, 96, 144, 288, 576, 1008];
        document.getElementById('slider-value').innerText = values[value];

        const min = 0;
        const max = 6;
        const percent = ((value - min) / (max - min)) * 100;

        // Adjust the percent to be within 3% to 97% range
        const adjustedPercent = 3 + percent * 0.94;

        // Update this line
        document.getElementById('slider-indicator').style.left = `calc(${adjustedPercent}% - 24px)`;

        updatePrices();
    }

    function updatePrices() {
        const balls = document.getElementById('slider-value').innerText;
        const currency = '{{ cart.currency.iso_code }}';
        let pricePerBall = 2.5;

        if (currency === 'CAD') {
            pricePerBall *= USD_TO_CAD_RATE; // Adjust price for CAD
        }

        const price = (balls * pricePerBall).toFixed(2);
        document.getElementById('receipt-balls').innerText = `${balls} balls`;
        document.getElementById('receipt-balls-price').innerText = `${currency} $${price}`;
        document.getElementById('receipt-total').innerText = 'Total with print';
        document.getElementById('receipt-total-price').innerText = `${currency} $${parseFloat(price).toFixed(2)}`;
    }

    function addCustomProductToCart() {
        const button = document.getElementById('add-to-cart-button');
        const spinner = document.getElementById('add-to-cart-spinner');
        const buttonText = button.querySelector('span');
        
        // Disable button and show spinner
        button.disabled = true;
        spinner.classList.remove('hidden');
        buttonText.textContent = 'Adding to cart...';

        const amount = parseInt(document.getElementById('slider-value').innerText);
        const currency = '{{ cart.currency.iso_code }}';
        let pricePerBall = 2.5;

        if (currency === 'CAD') {
            pricePerBall *= USD_TO_CAD_RATE;
        }

        const price = (amount * pricePerBall).toFixed(2);
        const total = parseFloat(price).toFixed(2);
        const packaging = activeBox || 'no-package';
        
        const fileInput = document.getElementById('input-image');
        const imageFile = fileInput.files[0];

        const formData = new FormData();
        
        formData.append('id', '41413117083761');
        formData.append('quantity', amount.toString());
        formData.append('properties[Number of Balls]', amount.toString());
        formData.append('properties[Packaging Type]', packaging);
        
        if (imageFile) {
            formData.append('properties[Custom Image]', imageFile);
        }

        fetch('/cart/add.js', {
            method: 'POST',
            body: formData
        })
        .then((response) => {
            if (!response.ok) {
                return response.json().then((err) => {
                    throw err;
                });
            }
            return response.json();
        })
        .then((data) => {
            console.log('Product added to cart:', data);
            document.getElementById('global-cart-drawer').classList.remove('!hidden');
        })
        .catch((error) => {
            console.error('Error adding product to cart:', error);
            alert('There was an error adding the product to your cart. Please try again.');
        })
        .finally(() => {
            // Re-enable button and hide spinner
            button.disabled = false;
            spinner.classList.add('hidden');
            buttonText.textContent = '{{ section.settings.add_to_cart_text }}';
        });
    }
</script>